@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

:root {
  --negro: #0b0b0d;
  --cian: #85e6c0;
  --cian_oscuro: #6bb39b;
  --cian_clarito: #daf3ea;
  --blanco: #f7f4e8;
  --gris: #5e5e5e;
  --gris_claro: #9b9b9b;
  --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  --contorno: 0.1rem solid rgba(0, 0, 0, 0.1);
  --contorno-hover: 0.2rem solid var(--negro);
}

/* Header */

header .logo {
  margin-right: 6rem;
}

/* Header Anchor Back */

.contenedor_volver {
  margin-left: 3rem;
}

.contenedor_volver .volver {
  color: var(--negro);
  font-size: 1.1rem;
  font-weight: 600;
}

.contenedor_volver .volver:hover {
  color: var(--cian);
}

/* Information Section */

.contenedor_info {
  background-color: var(--cian_clarito);
  width: 93vw;
  margin: 2.5rem 0 0 3vw;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.contenedor_info .contenedor_titulo {
  margin: 1rem 0 0 1rem;
}

.contenedor_info .contenedor_titulo h2 {
  font-size: 2rem;
}

.contenedor_info .contenedor_precio {
  margin: 1rem 0 0 0;
  grid-column: 2;
  grid-row: 2;
}

.contenedor_info .contenedor_fecha {
  margin: 1rem 0 0 1rem;
  grid-column: 1;
}

.contenedor_info .contenedor_hora {
  margin: 1rem 0 0 1rem;
  grid-column: 1;
}

.contenedor_info .contenedor_extras {
  margin: 1rem 0 0 0;
  grid-column: 2;
}

/* Buy Tocket Section */

.contenedor_venta_entradas {
  background-color: var(--cian_clarito);
  width: 93vw;
  margin: 2.5rem 0 2.5rem 3vw;
  display: flex;
  border-radius: 5px;
}

.contenedor_venta_entradas .contenedor_entradas {
  margin: 15px 0 0 9.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contenedor_venta_entradas .contenedor_entradas .titulo {
  font-size: 1.3rem;
}

.contenedor_venta_entradas .contenedor_entradas .entrada {
  margin-top: 10px;
  background-color: var(--gris);
  border: solid 3px var(--cian);
  border-radius: 15px;
  color: var(--cian_clarito);
  padding: 10px 50px;
}

.contenedor_venta_entradas .contenedor_entradas .entrada:hover{
    background-color: var(--cian_oscuro);
    border-color: var(--gris);
}

.contenedor_venta_entradas .contenedor_entradas .consigna{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 800;
}