@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --negro: #000000;
  --celeste: #6fd6ff;
  --claro: #d1d1d15a;
  --blanco: #ffffff;
  --gris: #a9a8a8;
  --amarillo: #e8bb00;
  --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  --contorno: 0.1rem solid rgba(0, 0, 0, 0.1);
  --contorno-hover: 0.2rem solid var(--negro);
}

/* Header Anchor Back To Home */

.contenedor_inicio {
  margin-right: 4rem;
}

.contenedor_inicio a {
  color: var(--negro);
  font-size: 1.1rem;
  font-weight: 600;
}

.contenedor_inicio a:hover {
  color: var(--amarillo);
}

/* Section Step 1 */

.contenedor_paso1 {
  background-color: var(--blanco);
  box-shadow: var(--box-shadow);
  margin-top: 8rem;
  width: 93vw;
  height: 3rem;
  margin-left: 3vw;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.contenedor_paso1 p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--celeste);
}

.contenedor_paso1 p .color_paso1 {
  color: var(--amarillo);
}

.contenedor_paso1 i {
  color: var(--celeste);
  font-size: 1.4rem;
}

.contenedor_paso1 .paso1 {
  color: var(--negro);
}

/* Main Information Of The Event */

.contenedor_principal_eventos {
  background-color: var(--blanco);
  box-shadow: var(--box-shadow);
  margin: 2.5rem 0 0 3vw;
  width: 93vw;
  border-radius: 5px;
  display: flex;
}

/* Event Image */

.contenedor_img {
  margin: 15px 10px 10px 15px;
}

.contenedor_img img {
  width: 630px;
  height: 650px;
}

/* Event Title */

.contenedor_entradas .contenedor_titulo {
  margin-top: 3rem;
}

.contenedor_entradas .contenedor_titulo h2{
  font-size: 2rem;
}

.icono{
  color: var(--amarillo);
  font-size: 1.3rem;
}

.texto{
  font-size: 1.2rem;
  font-weight: 500;
}

/* Date and Time of the Event */

.contenedor_entradas .contenedor_fechayhora{
  margin: 3rem 0 0 10px;
  display: flex;
  gap: 20px;
}

/* Buy Ticket */

.contenedor_entradas .compra_evento{
  background-color: var(--celeste);
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5rem;
}

.contenedor_entradas .compra_evento .texto{
  color: var(--negro);
  font-size: 1rem;
}

.contenedor_entradas .compra_evento:hover{
  background-color: var(--blanco);
} 

/* Price */

.contenedor_entradas .contenedor_precio{
  margin: 2rem 0 0 10px;
}

/* More information about the event */

.contenedor_entradas .contenedor_informacion{
  margin: 2rem 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}