@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --negro: #000000;
  --celeste: #6fd6ff;
  --claro: #d1d1d15a;
  --blanco: #ffffff;
  --gris: #a9a8a8;
  --amarillo: #e8bb00;
  --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  --contorno: 0.1rem solid rgba(0, 0, 0, 0.1);
  --contorno-hover: 0.2rem solid var(--negro);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  text-decoration: none;
}

body {
  background-color: var(--claro);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.color_logo {
  color: var(--negro);
  font-size: 1.8rem;
}

/* HEADER */

.header {
  display: flex;
  background-color: var(--blanco);
  position: fixed;
  align-items: center;
  padding: 2vh 8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

/* HEADER SIDEBAR´S ICON */

header .div_icono {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.2rem;
  border-radius: 0.3rem;
  background-color: var(--claro);
  margin-left: 3rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

.header .div_icono .icono {
  font-size: 1.4rem;
  margin: 0.2rem 0 0 0.03rem;
  color: var(--celeste);
}

.header .div_icono:hover {
  background-color: var(--gris);
}

/* HEADER LOGO */

.header .logo {
  color: var(--negro);
  margin-right: 2.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.header .color_logo {
  color: var(--celeste);
  font-size: 1.8rem;
}

/* SIDEBAR */

.header .barra_lateral {
  position: absolute;
  top: 115%;
  padding: 2rem;
  left: -20%;
  box-shadow: var(--box-shadow);
  background-color: var(--blanco);
  border-radius: 5px;
  width: 15.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 21rem;
  justify-content: center;
}

.header .barra_lateral.active {
  left: 1%;
  transition: 0.2s linear;
}

.header .barra_lateral h3 {
  color: var(--negro);
  font-size: 1.5rem;
  font-weight: 700;
}

.header .barra_lateral .localidades {
  color: var(--negro);
}

.header .barra_lateral .localidades:hover {
  margin-left: 10px;
}

.header .barra_lateral a i {
  color: var(--celeste);
  margin-right: 5px;
}

.header .barra_lateral a i:hover {
  margin-right: 10px;
}

.header .barra_lateral .ayuda_menu {
  color: var(--negro);
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.header .barra_lateral .ayuda_menu:hover {
  color: var(--amarillo);
}

/* MAIN */

/* HELP SECTION*/

.seccion_ayuda {
  position: fixed;
  right: -50%;
  background-color: var(--blanco);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 40vh;
  box-shadow: var(--box-shadow);
}

.seccion_ayuda .titulo {
  margin-top: 32px;
}

.seccion_ayuda .extra{
  color: var(--celeste);
}

.seccion_ayuda .contenedor_info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seccion_ayuda .contenedor_salida {
  margin-top: 20px;
}

.seccion_ayuda .contenedor_salida .salida {
  background-color: var(--claro);
  color: var(--celeste);
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.seccion_ayuda .contenedor_salida .salida:hover {
  background-color: var(--gris);
}

.seccion_ayuda.active {
  right: 24.8%;
  transition: 0.3s linear;
  z-index: 1;
}

/* CAPTION */

.subtitulo {
  margin-top: 10rem;
  text-align: center;
}

.subtitulo h3 {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
}

.subtitulo .color_logo2{
  color: var(--celeste);
  font-size: 1.6rem;
}

.subtitulo p {
  font-size: 1.2rem;
}

/* MAIN */

/* EVENTS */

.contenedor_eventos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 3rem;
}

.evento_box {
  margin-left: 5.5vw;
}

.evento_box img {
  height: 600px;
  width: 550px;
  outline: var(--contorno);
  outline-offset: -0.2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.evento_box img:hover {
  outline-offset: 0rem;
  outline: var(--contorno-hover);
}

#mensaje_no_eventos{
  text-align: center;
  display: none;
}

/* FOOTER */

footer {
  background-color: var(--blanco);
  margin-top: 2rem;
}

footer .box_contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  text-align: center;
}

footer .box_contenedor .box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1rem;
}

footer .box_contenedor .box .logo{
  color: var(--celeste);
}


footer .box_contenedor .contactos_box {
  margin-right: 20rem;
}

footer .box_contenedor .redes_box {
  margin-left: 20rem;
}

footer .box_contenedor .box .links {
  display: block;
  font-size: 1rem;
  color: var(--gris);
  font-weight: 700;
}

footer .box_contenedor .box .links .color1 {
  color: var(--celeste);
}

footer .box_contenedor .box .links .color2 {
  color: var(--amarillo);
}


footer .box_contenedor .box .links .contactos:hover {
  margin-left: 0.5rem;
}

footer .box_contenedor .box .redes_sociales {
  display: flex;
  gap: 2rem;
  margin-left: 15.3rem;
}

footer .box_contenedor .box .redes_sociales a{
  color: var(--gris);
  font-size: 1.3rem;
}

footer .box_contenedor .box .redes_sociales .color1:hover {
  color: var(--celeste);
}

footer .box_contenedor .box .redes_sociales .color2:hover{
  color: var(--amarillo);
}

footer .box_contenedor .box p {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
  color: var(--gris);
}

footer .creditos {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-top: 0.2rem solid var(--gris); 
}

footer .creditos .color_logo{
  font-size: 1.2rem;
  color: var(--celeste);
}

footer .creditos a {
  color: var(--negro);
}

footer .creditos a:hover{
  color: var(--gris);
}


/* MEDIA QUERIES */

@media (max-width: 1600px) {
  .evento_box{
    text-align: center;
    margin-right: 5rem;
  }

  .seccion_ayuda{
    right: -100%;
  }

  footer .box_contenedor .box .redes_sociales {
    margin-left: 11.1rem;
  }  
}


@media (max-width: 1300px) {
  .seccion_ayuda {
    height: 46vh;
  }

  .evento_box {
    text-align: center;
    margin-left: 0.3vw;
  }

  footer .box_contenedor .box .redes_sociales {
    margin-left: 6.3rem;
  }
}

@media (max-width: 1100px) {
  .header .barra_lateral {
    left: -50%;
  }

  footer .box_contenedor {
    grid-template-columns: 30rem 30rem;
    gap: 2rem;
    justify-content: center;
  }

  footer .box_contenedor .box .redes_sociales {
    margin-left: 1.3rem;
  }

  footer .creditos {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  
  .subtitulo{
    margin-left: 1.5rem;
    width: 500px;
  }

  .subtitulo h3{
    font-size: 1.2rem;
  }

  .subtitulo p{
    font-size: 1rem;
  }

  .evento_box img{
    width: 500px;
    margin-left: 1.5rem;
  }

  footer{
    width: 550px;
  }

  footer .box_contenedor .box p{
    font-size: 0.9rem;
  }

  footer .logo{
    font-size: 1.2rem;
  }

  footer i{
    font-size: 0.8rem;
  }

  footer button{
    font-size: 0.8rem;
  }

  footer span{
    font-size: 0.8rem;
  }

  footer .creditos{
    font-size: 1rem;
  }
}
