@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --negro: #000000;
  --celeste: #6fd6ff;
  --claro: #d1d1d15a;
  --blanco: #ffffff;
  --gris: #a9a8a8;
  --amarillo: #e8bb00;
  --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  --contorno: 0.1rem solid rgba(0, 0, 0, 0.1);
  --contorno-hover: 0.2rem solid var(--negro);
}

/* Header */

.header .logo {
  margin-left: 2.5rem;
}

/* Header Anchor Back */

.contenedor_volver {
  margin-left: 3rem;
}

.contenedor_volver .volver {
  color: var(--negro);
  font-size: 1.1rem;
  font-weight: 600;
}

.contenedor_volver .volver:hover {
  color: var(--celeste);
}

/* Information Section */

.contenedor_info {
  background-color: var(--blanco);
  box-shadow: var(--box-shadow);
  width: 93vw;
  margin: 2.5rem 0 0 3vw;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.contenedor_info .contenedor_titulo {
  margin: 1rem 0 0 1rem;
}

.contenedor_info .contenedor_titulo h2 {
  font-size: 2rem;
}

.contenedor_info .contenedor_precio {
  margin: 1rem 0 0 0;
  grid-column: 2;
  grid-row: 2;
}

.contenedor_info .contenedor_fecha {
  margin: 1rem 0 0 1rem;
  grid-column: 1;
}

.contenedor_info .contenedor_hora {
  margin: 1rem 0 0 1rem;
  grid-column: 1;
}

.contenedor_info .contenedor_extras {
  margin: 1rem 0 0 0;
  grid-column: 2;
}

/* Buy Tocket Section */

.contenedor_venta_entradas {
  background-color: var(--blanco);
  box-shadow: var(--box-shadow);
  width: 93vw;
  margin: 2.5rem 0 2.5rem 3vw;
  display: flex;
  border-radius: 5px;
}

.contenedor_venta_entradas .contenedor_entradas {
  margin: 15px 0 0 11.5rem;
  width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contenedor_venta_entradas .contenedor_entradas .titulo {
  font-size: 1.3rem;
}

.contenedor_venta_entradas .contenedor_entradas .entrada {
  margin-top: 15px;
  background-color: var(--celeste);
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  margin-left: 12.5rem;
}

.contenedor_venta_entradas .contenedor_entradas .entrada:hover {
  background-color: var(--blanco);
}

.info_entradas {
  gap: 18px;
  margin-top: 1rem;
  align-items: center;
  margin-left: 13.8rem;
}

.info_entradas button {
  cursor: pointer;
  background-color: var(--gris);
  border: solid 2px var(--cian);
  border-radius: 5px;
  color: var(--cian_clarito);
  padding: 5px 12px;
}

.info_entradas button:hover {
  background-color: var(--cian_oscuro);
  border-color: var(--gris);
}

.entradas_agregadas {
  margin-top: 1rem;
}

.hide {
  display: none;
}

.tabla_entradas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla_entradas th,
.tabla_entradas td {
  border: 1px solid var(--gris);
  padding: 8px;
  text-align: left;
}

.tabla_entradas th {
  background-color: var(--gris_claro);
}

.tabla_entradas tfoot {
  font-weight: bold;
}

#total_pagar {
  font-size: 18px;
}

.comprar_entradas {
  padding: 10px;
  background-color: var(--celeste);
  color: --negro;
  border-radius: 4px;
  cursor: pointer;
}

.aumentar {
  background-color: var(--celeste);
  color: var(--negro);
  padding: 5px;
  width: 30px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.disminuir {
  background-color: var(--amarillo);
  color: var(--negro);
  padding: 5px;
  width: 30px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.borrar .eliminar {
  background-color: var(--amarillo);
  color: var(--negro);
  padding: 5px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.comprar_entradas:hover {
  background-color: var(--blanco);
}

@media (max-width: 1700px) {
  .contenedor_venta_entradas .contenedor_entradas {
    margin: 15px 0 0 4.5rem;
  }
  footer .box_contenedor .box .redes_sociales {
    margin-left: 11.6rem;
  }
}

@media (max-width: 1600px) {
  .contenedor_venta_entradas .contenedor_entradas {
    margin: 15px 0 0 3.5rem;
  }
  footer .box_contenedor .box .redes_sociales {
    margin-left: 11.2rem;
  }
}

@media (max-width: 1300px) {

  footer .box_contenedor .box .redes_sociales {
    margin-left: 5.5rem;
  }

  .contenedor_venta_entradas .contenedor_entradas .titulo{
    margin-right: 5rem;
  }
  .contenedor_venta_entradas .contenedor_entradas .entrada {
    margin-left: 1.5rem;
}
  .entradas_agregadas h4{
    margin-right: 5rem;
  }
  .tabla_entradas{
    margin-left: -2rem;
  }
}