<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compra de Entradas</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/event.css" />
    <link rel="stylesheet" href="/static/css/tickets.css" />
    <!-- LINK FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <!-- Go Back -->
      <div class="contenedor_volver">
        <a href="" class="volver">Volver atras</a>
      </div>
      <!-- Logo -->
      <a href="#" class="logo">Entradas<span class="color_logo">Arg</span></a>
      <!-- Back to Home -->
      <div class="contenedor_inicio">
        <a href="/index" class="inicio">Volver al inicio</a>
      </div>
    </header>

    <!-- Section Step 3 -->
    <section class="contenedor_paso1">
      <p>
        Paso<span class="color_paso1"> 1</span>
        <span class="color_paso1">2</span> 3
      </p>
      <i class="fa-solid fa-arrow-right"></i>
      <p class="paso1">Seleccion de entradas</p>
    </section>

    <main>
        <section class="contenedor_compra">
            <h3>COMPRA DE ENTRADAS</h3>
        </section>        
    </main>

  </body>
</html>
