<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EntradasArg</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <!-- LINK FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <!-- SIDEBAR´S ICON -->
      <div class="div_icono">
        <div class="icono" id="menu">
          <i class="fa-solid fa-bars icono"></i>
        </div>
      </div>
      <!-- SIDEBAR -->
      <section class="barra_lateral">
        <h3>Localidades</h3>
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">Todos</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">Buenos Aires</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">Cordoba</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">Mendoza</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">San Juan</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-location-dot"></i
          ><span class="localidades">Santiago del Estero</span></a
        >
        <div id="ayuda">
          <a href="#" class="ayuda_menu" id="ayuda">Ayuda</a>
        </div>
      </section>

      <!-- LOGO -->
      <a href="#" class="logo">Entradas<span class="color_logo">Arg</span></a>
    </header>

    <!-- HELP SECTION -->

    <section class="seccion_ayuda">
      <div class="titulo">
        <h1>Ayuda</h1>
      </div>
      <p class="extra">--------------------------------------------</p>
      <div class="contenedor_info">
        <h3>¿Qué es lo que estoy viendo?</h3>
        <p>
          Estos son los resultados que EntradasArg te brinda para que puedas
          encontrar el evento que mas te guste, para seleccionar el evento
          simplemente hacele click en su portada y segui las intrucciones para
          hacer correctamente la compra de las entradas.
        </p>
      </div>
      <p class="extra">--------------------------------------------</p>
      <div class="contenedor_footer">
        <p>
          Contactate con nosotros por nuestras redes sociales si tenes alguna
          duda.
        </p>
      </div>
      <div class="contenedor_salida">
        <a href="#" class="salida" id="cerrar_ayuda">Cerrar</a>
      </div>
    </section>

    <!-- CAPTION -->

    <section class="subtitulo">
      <h3 >Bienvenid@ a la pagina de Entradas<span class="color_logo2">Arg</span></h3>
      <p>Anda a ver a tu artista favorito</p>
    </section>

    <!-- MAIN -->

    <main>
      <div class="contenedor_eventos" id="evento">
        <div class="evento_box hide">
          <% eventos.forEach(evento => { %>
            <a class="hide" href="/eventos/<%= evento._id %>" data_ubicacion="<%= evento.ubicacionProvincia %>">
              <img src="<%= evento.imagenPortada %>"></img>
            </a>
          <% }); %>
        </div>
      </div>
      <div id="mensaje_no_eventos">No hay eventos en esta ubicación.</div>
    </main>

    <!-- FOOTER -->

    <footer>
      <div class="box_contenedor">
        <div class="box redes_box">
          <h2 class="logo">Redes Sociales</h2>
          <div class="redes_sociales">
            <a class="fab fa-facebook-f color1"></a>
            <a class="fab fa-twitter color2"></a>
            <a class="fab fa-instagram color1"></a>
          </div>
          <p>Enterate de los eventos primero que todos</p>
        </div>

        <div class="box contactos_box">
          <h2 class="logo">Contactos</h2>
          <a class="links">
            <i class="fas fa-phone color1"></i>
            <span class="contactos"> +261-559-0611</span>
          </a>
          <a class="links">
            <i class="fas fa-phone color2"></i
            ><span class="contactos"> +261-207-0387</span>
          </a>
          <a class="links">
            <i class="fas fa-envelope color1"></i
            ><span class="contactos"> tutanota@gmail.com</span>
          </a>
          <a class="links">
            <i class="fas fa-map-marker-alt color2"></i
            ><span class="contactos"> Medoza - Argentina</span>
          </a>
        </div>
      </div>

      <div class="creditos">
        <a href="https://autogestion.produccion.gob.ar/consumidores"
          >Copyright Entradas<span class="color_logo">Arg</span> - 2023. Todos los derechos reservados.</a
        >
      </div>
    </footer>
  </body>
  <script src="/static/js/menu/move.js"></script>
  <script src="/static/js/localidades/ubi_eventos.js"></script>
</html>