<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/message.css" />
</head>
<body>
 <section class="main">
    <h3 class="titulo">Gracias por su compra</h3>
    <h3 class="subtitulo">Y gracias por elegir Entradas<span class="subtitulo_color">Arg</span></h3>
    <p class="texto">
        Le enviamos todos los detalles al gmail     
    </p>
    <a class="button" href="/index">Volver al Incio</a>
 </section>
</body>
</html>